pipeline/PL_13_Dynamic_Multiple_Copy_master.json
{
	"name": "PL_13_Dynamic_Multiple_Copy_master",
	"properties": {
		"activities": [
			{
				"name": "Lookup Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Config').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_13_Dynamic_Multiple_Copy_Incremental",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"TgtTableName": {
										"value": "@{item().TableName}",
										"type": "Expression"
									},
									"WaterMarkColumn": {
										"value": "@{item().WaterMarkColumn}",
										"type": "Expression"
									},
									"stgTableName": {
										"value": "@{concat('staging_',item().Tablename)}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}